{% extends "base.njk" %}

{% block content %}
{% {% include "boards.njk" %} %}
<h1>board</h1>

{# {% include "fromPost.njk" %} #}
<p>{{board.name}}</p>
<p>{{ posts[0].content}}</p>

{% for post in posts %}
    <p>{{ post.title }}</p>
    <p>{{ post.content }}</p>

{% endfor %}
{% endblock %}