<!-- filepath: /home/lab/Desktop/codebase0/3trim/imageboard/views/unauthoride.njk -->
{% extends "base.njk" %}

{% block content %}
<h1>Acceso no autorizado</h1>
<p>No tienes permiso para acceder a esta página. Por favor, <a href="/auth/login">inicia sesión</a>.</p>
{% endblock %}